<!doctype html>
<html>
    <head>
        <title>Browse page</title>
    </head>
    <body>
        <header>
            <h1>Browse page</h1>
        </header>
        <div id="list">

        </div>
        <script src="/bundle/style.js"></script>
        <script src="/bundle/browse.js"></script>
    </body>
</html>
