<!doctype html>
<html>
<head>
    <title>Item page</title>
</head>
<body>
    <header>
        <div class="back">
            <a href="/">< Home</a>
        </div>
        <h1><%- item.title %></h1>
    </header>
    <div id="item">

    </div>
    <script src="/bundle/style.js"></script>
    <script src="/bundle/item.js"></script>
</body>
</html>
