body, html
	margin: 0
	font-family: Arial, sans-serif
body
	background-color: #EEEEEE
header
	text-align: center
	padding: 10px 0
	border-bottom: 1px solid grey
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25)
	background-color: white
	position: relative
	h1
		margin: 0
		font-size: 16px
		color: #a0a0a0
h2
	margin: 0 0 10px
a
	cursor: pointer
.item-list
	a
		color: black
	.item
		width: 33.3333%
		float: left
		box-sizing: border-box
		padding: 10px
	.container
		width: 100%
		border: 1px solid #eaeaea
		text-align: center
		background-color: white

		img
			display: block
			margin: 0 auto
			padding: 10px
			box-sizing: border-box
	.info-line
		&::after
			clear: both
			content: ''
			display: block
		.left, .right
			float: left
			width: 50%
			padding: 10px
			box-sizing: border-box
		.left
			text-align: left
		.right
			text-align: right
			a
				text-decoration: none
				font-size: 20px
.list-bottom
	text-align: center
	button
		font-size: 24px
		background-color: #5f9ea0
		padding: 10px 30px
		margin: 20px 0
		cursor: pointer
		color: white
		border: none
.back
	position: absolute
	left: 20px
	top: 10px
	a
		color: #555500
		font-size: 12px
		text-decoration: none
.item-preview
	&::after
		clear: both
		content: ''
		display: block
	.left, .right
		float: left
		box-sizing: border-box
		padding: 10px
		.block
			background-color: white
			border: 1px solid #eaeaea
			width: 100%
			text-align: center
			margin-bottom: 10px
	.left
		width: 30%
	.right
		width: 70%
		.block
			text-align: left
	.block
		.padding
			padding: 10px
	.buttons
		margin-top: 30px
		border-top: 1px solid #e8e8e8
		a
			display: inline-block
			width: 50%
			padding: 10px
			text-align: center
			margin-right: -4px
			border-left: 1px solid #e8e8e8
			text-decoration: none
			color: #555500
			box-sizing: border-box
			&:first-child
				border-left: none
	.creator
		margin-top: 10px
	.fav
		text-align: right
		padding: 10px
		font-size: 20px
		a
			text-decoration: none
			font-size: 30px
			font-weight: bold
			color: #555500